body {
     height: 100vh;
     width: 100%;
    margin: 0rem;
    padding: 0rem;
    background-color: #191919;
    font-family: 'Courier New', Courier, monospace;

}
.game-container{
    width: 85%;
    height: 70%;
    background-color: rgb(18, 23, 28);
    margin: auto;
    border-radius: 15px;
    box-shadow: #00b5857c 0px 5px 15px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    padding: 5rem;
}

.category{
    width: 85%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
.category-btn{
    width: 10rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 6px;
    border: solid #00b585 1px;
    color: #00b585;
    background-color: transparent;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
}
.category-btn:hover{
    transform: scale(1.1);
    box-shadow: #00b5857c 0px 5px 15px;

}

.word-draw-container{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 1rem;
}
.Guessed-word{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #00b585;
}
.Guessed-word span{
    font-size: 4rem;
}

.number-guesses-left{
    width: 100%;
    height: 8%;
    text-align: center;
    color:  rgb(182, 3, 60);
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: center;
    
    font-family: 'Courier New', Courier, monospace;
    
}



.character-container{
    width: 52%;
    margin: auto;
    border: #00b585 solid 6px;
    border-radius: 10px;
    height: 32%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem; /* Space between columns */
    row-gap: 1rem;
    align-content: flex-start;
    padding: 1rem;
}
.key {
    background-color: #00b585;
    width: 3.5rem;
    height: 3.5rem    ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}





/* Hang man drawing*/


.hangman-container{
    width: 55%;
    height: 100%;
    position: relative;
    

}

.gallows .pole, .gallows .beam, .gallows .rope, .gallows .head, .gallows .body, .gallows .left-arm, .gallows .right-arm, .gallows .left-leg, .gallows .right-leg {
    position: relative;
    background-color: #00b585;
}
.gallows .rope, .gallows .head, .gallows .body, .gallows .left-arm, .gallows .right-arm, .gallows .left-leg, .gallows .right-leg{
    display: none;
    background-color: #b50376;

}

.gallows .pole {
    width: 10px;
    height: 20rem;
    float: right;
    border-radius: 1px;

}

.gallows .beam {
    width: 150px;
    height: 8px;
    float: right;
    top: 0;
    border-radius: 1px;
    
}

.gallows .rope {
    width: 3px;
    height: 5rem;
    float: right;
    top: 0rem;
}

.gallows .head {
    width: 50px;
    height: 50px;   
    border-radius: 50%;
    float: right;
    top: 5rem;
    left: 1.5rem;
    background-color: transparent;
    border: 3px solid #b50376;
}

.gallows .body {
    width: 10px;
    height: 80px;
    float: right;
    top: 8.5rem;
    left: 3.6rem;
}

.gallows .left-arm, .gallows .right-arm {
    width: 65px;
    height: 5px;
    border-radius: 2px;
}

.gallows .left-arm {
    transform: rotate(-45deg);
    left: 4rem;
    float: right;
    top: 10rem;
}

.gallows .right-arm {
    transform: rotate(45deg);
    left: 12rem;
    float: right;
    top: 10rem;}

.gallows .left-leg, .gallows .right-leg {
    width: 60px;
    height: 6px;
    
}

.gallows .left-leg {
    transform: rotate(130deg);
    left: 12.5rem;
    top: 14.5rem;
    float: right;
}

.gallows .right-leg {
    transform: rotate(-130deg);
    left: 19rem;
    top: 14.5rem;
    float: right;
}
.bot-beam{
    width: 19rem;
    height: 0.4rem;
    border-radius: 5px;
    background-color: black;
    top: 20rem;
    left: 45rem;
    position: relative;
    background-color: #00b585;

}


/* Game Setting */
.pressed{
    opacity: 0.3;
    animation: pressAnimation 0.4s forwards;
}
.character-container , .word-draw-container , .number-guesses-left{
display: none;
}

/* Key frames*/

@keyframes pressAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
